body {
  font-family: 'Nunito','Noto Sans TC', sans-serif;
  background: #f7f2ec;
}

.poppins {
  font-family: 'Poppins';
}

.bg-bowl {
  background: url(../images/ssp-bg-dot.png);
  background-repeat: repeat-x;
  background-position: bottom;
}

.cover-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/the-park-by-years.jpg);
}

.ice-cream {
  background: url(../images/ssp-icecream.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 25%;
}

@media(min-width: 768px) {
  .ice-cream {
    background: url(../images/ssp-icecream.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 22%;
  }
}

@media(min-width: 1024px) {
  .ice-cream {
    background: url(../images/ssp-icecream.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 50%;
  }
}

.blabla {
  background: url(../images/bla.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 25%;
}

@media(min-width: 768px) {
  .blabla {
    background: url(../images/bla.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 22%;
  }
}

@media(min-width: 1024px) {
  .blabla {
    background: url(../images/bla.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 80%;
  }
}

.bg-curve {
  background: url(../images/bg-curve.svg);
  background-size: 5%;
  background-position: center;
  background-repeat-y: no-repeat;  
}

.align-center-hover {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  opacity: 0;
  transition-duration: 100ms;
}

.menu:hover .align-center-hover {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.menu:hover .btn-menu::before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAALklEQVQYVxXLwQ0AIAyAQNjPbXW+Yvo9gtNcAhTruGCuHeE501VO9DbYtMPLEPj28RwMvKvlJAAAAABJRU5ErkJggg==) repeat;
  position: absolute;
  transition-duration: 50ms;  
  z-index: 1;
}

.highlight {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAPElEQVQYVyWL0QnAIBTELth56iKv04qDaMfRckW9j0AIB1o7HG8YwdbRw9ddAKTZHqdcYPWvh1OuSN7XHwFBESW6niP2AAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: 0px calc(1em - 2px);
}

.squircle {  
  -webkit-clip-path: url(#svgShape);
  -moz-clip-path: url(#svgShape);
  -o-clip-path: url(#svgShape);
  -ms-clip-path: url(#svgShape);
  clip-path: url(#svgShape);
  z-index: 0;
}

.btn-menu p {
  z-index: 2;
}

.bg-body {
  background: #f7f2ec;
}