.env
.envrc

.haxelib
*.js
!/static/trackExceptions.js
*.js.map
/lib/dts2hx/

/dump

node_modules
/.serverless

/hkssprangers-1850e37b7d98.json

/orders
/menu
/summary

/dev/initdb/002_data_courier.sql
/dev/initdb/003_data.sql

/orders.json
/deliveries.json
/menuResponses.json

.DS_Store
