.env
.envrc

.haxelib
*.js
*.webp
!/static/trackExceptions.js
!/tailwind.config.js
/static/css/tailwind.css
!/static/js/splide/splide.min.js
!/static/js/splide/banner.js
!/static/js/map/map.js
*.js.map
/lib/dts2hx/

/dump

node_modules
/.serverless

/hkssprangers-1850e37b7d98.json

/orders
/menu
/summary

/dev/initdb/003_data_courier.sql
/dev/initdb/004_data.sql

/orders.json
/deliveries.json
/menuResponses.json

.DS_Store

# pscale database dump ...
pscale_dump_*

/prisma/dbml

*.mbtiles
*.osm
*.osm.pbf
