service: hkssprangers
app: web
org: hkssprangers

provider:
  name: aws
  region: ap-southeast-1
  runtime: nodejs12.x
  apiGateway:
    binaryMediaTypes:
      - "*/*"
  environment:
    TZ: Asia/Hong_Kong
    DEPLOY_STAGE: ${env:DEPLOY_STAGE}
    SERVER_HOST: ${env:SERVER_HOST}
    MYSQL_HOST: ${env:MYSQL_HOST}
    MYSQL_USER: ${env:MYSQL_USER}
    MYSQL_PASSWORD: ${env:MYSQL_PASSWORD}
    TGBOT_TOKEN: ${env:TGBOT_TOKEN}
    FORM_READER_EMAIL: ${env:FORM_READER_EMAIL}
    FORM_READER_PRIVATE_KEY: ${env:FORM_READER_PRIVATE_KEY}
    JWT_SECRET: ${env:JWT_SECRET}
    TWILIO_SID: ${env:TWILIO_SID}
    TWILIO_AUTH_TOKEN: ${env:TWILIO_AUTH_TOKEN}
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "s3:PutObject"
          Resource: "arn:aws:s3:::hkssprangers-uploads/*"
  logs:
    restApi:
      format: 'requestId: $context.requestId, ip: $context.identity.sourceIp, caller: $context.identity.caller, user: $context.identity.user, requestTime: $context.requestTime, httpMethod: $context.httpMethod, resourcePath: $context.resourcePath, status: $context.status, protocol: $context.protocol, responseLength: $context.responseLength, integrationErrorMessage: $context.integrationErrorMessage'

package:
  exclude:
    - .env
    - .envrc
    - .devcontainer/**
    - .github/**
    - .haxelib/**
    - .vscode/**
    - haxe_libraries/**
    - lib/**
    - src/**
    - test/**
    - terraform/**
    - '*.hxml'

functions:
  web:
    handler: index.handler
    events:
      - http:
          method: ANY
          path: '/'
          cors: true
      - http:
          method: ANY
          path: '{proxy+}'
          cors: true
  importGoogleForm:
    handler: importGoogleForm.importGoogleForms
    timeout: 90
    events:
      - schedule:
          # every 20 min, HKT 9:00 pm - 7:00 am
          rate: cron(*/20 13-23 * * ? *)
          enabled: ${self:custom.isProd.${opt:stage}, false}
      - schedule:
          # every 2 min, HKT 8:00 am - 8:xx pm
          rate: cron(*/2 0-12 * * ? *)
          enabled: ${self:custom.isProd.${opt:stage}, false}
  sendAttendancePoll:
    handler: importGoogleForm.sendAttendancePoll
    events:
      - schedule:
          # at HKT 10:05 and 17:05
          rate: cron(5 2,9 * * ? *)
          enabled: ${self:custom.isProd.${opt:stage}, false}
  sendDutyPoll:
    handler: importGoogleForm.sendDutyPoll
    events:
      - schedule:
          # at HKT 21:00, Sunday and Thursday
          rate: cron(0 13 ? * SUN,THU *)
          enabled: ${self:custom.isProd.${opt:stage}, false}

plugins:
  - serverless-prune-plugin

custom:
  prune:
    automatic: true
    number: 5
  isProd:
    production: true
