button:focus {
  outline: none;
}

body {
  min-height: 100vh;
  margin: 0;
  background: #f7f2ec;
  display: flex;
  flex-direction: column;

  background-image: url(../images/ssp-bg-dot.png);
  background-repeat: repeat-x;
  background-position: 50vw bottom;
  background-size: auto 80vh;
}

* {
  font-family: 'Noto Sans HK', sans-serif;
}

html.fontSize-larger {
  font-size: larger;
}

footer {
  margin-top: auto;
  padding-top: 1rem;
  text-align: center;
}

a {
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

a.no-underline:hover {
  text-decoration: none;
}

#CustomerView .MuiContainer-root {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
}

#logo {
  width: 10em;
  margin: 1em;
}

#CustomerView .MuiTypography-h2 {
  font-size: 1.5rem;
}

#CustomerView .MuiTypography-h3 {
  font-size: 1rem;
}

.order-content>* {
  padding-bottom: 1rem;
}

.order-content>*:last-child {
  padding-bottom: 0;
}

.order-content .is-not-editing .MuiCardHeader-root {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.order-content .is-not-editing .MuiCardHeader-action {
  padding-top: 0.25rem;
}

.order-content .MuiCardContent-root {
  padding-top: 0.1em;
}

#CustomerView .MuiFormControl-root {
  width: 100%;
  margin-bottom: 1rem;
}

#CustomerView .MuiDivider-root {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body .MuiPickersDay-current {
  border: 2px solid #3f51b5;
}

.date-picker .MuiInputBase-input {
  text-align: center;
}

.delivery-card {
  width: 100%;
}

@media (min-width: 576px) {
  .delivery-card {
    min-width: 556px;
  }
}

.delivery-card .MuiFormControl-root {
  display: flex;
}

.delivery-card .MuiInputBase-input {
  line-height: 1.5;
}

.delivery-card .MuiFormControl-root {
  margin: 0 0 0.2em 0;
}

.delivery-card .MuiFilledInput-root {
  background-color: #EEE;
}

legend.MuiFormLabel-root {
  font-size: small;
}

.deleteBtn {
  width: 1.5em;
  height: 1.5em;
}

.courierTgInuput {
  min-width: 5em;
}

.MuiIconButton-root .MuiIconButton-label>i:only-child {
  width: 1.1em;
  height: 1.1em;
  display: inline-block;
}

.receipt ol {
  margin-bottom: 0;
  list-style: none;
  padding-inline-start: 0;
  line-height: 2em;
}

a.myDelivery {
  border: 2px solid #ffc;
  background: #ffc;
}

#IndexView .MuiFormLabel-root.Mui-disabled {
  color: inherit;
}

#IndexView .MuiInputBase-root.Mui-disabled {
  color: inherit;
}

.poppins {
  font-family: 'Poppins';
}

.bg-bowl {
  background: url(../images/ssp-bg-dot.png);
  background-repeat: repeat-x;
  background-position: bottom;
}

.ice-cream {
  background: url(../images/ssp-icecream.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 25%;
}

@media(min-width: 768px) {
  .ice-cream {
    background: url(../images/ssp-icecream.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 22%;
  }
}

@media(min-width: 1024px) {
  .ice-cream {
    background: url(../images/ssp-icecream.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 50%;
  }
}

.blabla {
  background: url(../images/bla.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 25%;
}

@media(min-width: 768px) {
  .blabla {
    background: url(../images/bla.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 22%;
  }
}

@media(min-width: 1024px) {
  .blabla {
    background: url(../images/bla.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 80%;
  }
}

.bg-curve {
  background: url(../images/bg-curve.svg);
  background-size: 5%;
  background-position: center;
  background-repeat: repeat no-repeat;
}

.align-center-hover {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  opacity: 0;
  transition-duration: 100ms;
}

.menu:hover .align-center-hover {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.menu:hover .btn-menu::before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAALklEQVQYVxXLwQ0AIAyAQNjPbXW+Yvo9gtNcAhTruGCuHeE501VO9DbYtMPLEPj28RwMvKvlJAAAAABJRU5ErkJggg==) repeat;
  position: absolute;
  transition-duration: 50ms;
  z-index: 1;
}

.highlight {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAPElEQVQYVyWL0QnAIBTELth56iKv04qDaMfRckW9j0AIB1o7HG8YwdbRw9ddAKTZHqdcYPWvh1OuSN7XHwFBESW6niP2AAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: 0px calc(1em - 2px);
}

.squircle {
  -webkit-mask-image: url(../images/squircle.svg);
  -webkit-mask-size: cover;
  mask-image: url(../images/squircle.svg);
  mask-size: cover;
  z-index: 0;
}

.btn-menu p {
  z-index: 2;
}

.bg-body {
  background: #f7f2ec;
}

/*http://www.patternify.com*/
/*bg-pt2-pattern:6x6,(1,1),(2,2),(4,5),(5,4) */

.bg-pt2-red-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAASElEQVQYV1WNwQ3AMAgDjxGyE30ybZ4lKzUjUAUpKb2fZZ8sU7W34UYIEGxWYl7a2+32VYL8d0eohSAET9oj7UP+uRusUaF+vOaLFwsXGPB0AAAAAElFTkSuQmCC) repeat;
}

.bg-pt2-green-400 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAATUlEQVQYV2M0vTxj82m9DF+G/4wMDAz/GSCAkQHEYzC9BJLM9AVLgOWhElBlEDGYDmQDwLpBRutm+oKNgmk3vTx982ndDF+4HTAJZDsARvYaDX23mycAAAAASUVORK5CYII=) repeat;
}

.bg-pt2-pink-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAS0lEQVQYV2NkAAFGBgaG/4wMjAz/QRSUDZZhYHjjOWOzyPYMXygXrJbhjceMzSI7MnyhiiE6wByYMrixENPhdoCUwHUj64CxQfYBAFFuGolx5VqAAAAAAElFTkSuQmCC) repeat;
}

.bg-pt2-yellow-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAARklEQVQYV2WNQQ6AMBACh6vrJ43/qp90vWJstzFGbgQGdLbwuqewADMkHkce4dguCVdUwWx1osBOTPOh32WRbXHU34+od26vTxoLpWKbTAAAAABJRU5ErkJggg==) repeat;
}

.bg-pt2-green-600 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAATElEQVQYV1WNyxHAIAhEl4NJdRSC6Ufsg+r0okMkk4Hb/h50NbFZlQECsHCOQC6Lik3pnIKonBbWv8kAoAT6RX3ku4mNR9kN9/PfYG+yoRgJauwbWAAAAABJRU5ErkJggg==) repeat;
}

.bg-pt2-blue-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAT0lEQVQYV2O0avq2+Vg9ly/Df0YGRob/IIoBjKyavm4+VsflC+Yy/AeTYADhIthwEeumb5uP1nP5grWDzLJs/rb5WC23L4gNEmEAm46kGQAW3BoLM9K3+AAAAABJRU5ErkJggg==) repeat;
}

.bg-pt2-indigo-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAAXNSR0IArs4c6QAAAFBJREFUGFdjTE7/uHnuLH5fhv8MEMDIwMDwnxFMMSSlfdw8DyQJl4DII6n6D1LMANLNCKWh5jAwJKV/3DxvJr8vkgQjQ3L6B7h9EKOQAdQIANeeGwiJNGacAAAAAElFTkSuQmCC) repeat;
}


.bg-slash-red-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAICAYAAADeM14FAAAAWklEQVQYVyWNwRHDQAgDpRLslHTck2p5hmsJl6CMHH7ssAsJDyECT0SRJCBg9qqrO18wK+o+nZJAn13nJKW/bMMBN2atepuGE7tuNwye7eWbEsHZUZ/u9CdrP1NmKWV76bjiAAAAAElFTkSuQmCC) repeat;
}

.bg-slash-pink-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAPklEQVQYVy2KWxGAMAwE90QAloKTyjgZQQkgiVZEGDp87kMSUKIoehwWiE/2SK9X8xyeSG9384xjTy/nD8ALZJwRWPQwDS8AAAAASUVORK5CYII=) repeat;
}

.bg-slash-yellow-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAOElEQVQYVx2JsQ0AIAzD4pnyJfzRP+DLwlxUrCyOQShJFXebl9cUu7uNUwe6y7zN+JXzSzigVOoBKWkSKa/yK+oAAAAASUVORK5CYII=) repeat;
}
