button:focus {
  outline: none;
}

body {
  min-height: 100vh;
  margin: 0;
  background: white;
  display: flex;
  flex-direction: column;

  background-image: url(../images/bowl-yellow-3.jpg);
  background-repeat: repeat-x;
  background-position: 50vw bottom;
  background-size: auto 60vh;
}

* {
  font-family: 'Noto Sans HK', sans-serif;
}

html.fontSize-larger {
  font-size: larger;
}

footer {
  margin-top: auto;
  padding-top: 1rem;
  text-align: center;
}

a {
  /* color: #007bff; */
  color: inherit;
}

/* a:hover {
  text-decoration: underline;
} */

.a-link {
  border-bottom: 1px solid #333;
  padding: 0 0.25em;
}
.a-link:hover {
  border-bottom: 2px solid #666;
  text-decoration: none;
}

a.no-underline:hover {
  text-decoration: none;
}

#CustomerView .MuiContainer-root {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
}

#logo {
  width: 10em;
  margin: 1em;
}

#CustomerView .MuiTypography-h2 {
  font-size: 1.5rem;
}

#CustomerView .MuiTypography-h3 {
  font-size: 1rem;
}

.order-content>* {
  padding-bottom: 1rem;
}

.order-content>*:last-child {
  padding-bottom: 0;
}

.order-content .is-not-editing .MuiCardHeader-root {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.order-content .is-not-editing .MuiCardHeader-action {
  padding-top: 0.25rem;
}

.order-content .MuiCardContent-root {
  padding-top: 0.1em;
}

#CustomerView .MuiFormControl-root {
  width: 100%;
  margin-bottom: 1rem;
}

#CustomerView .MuiDivider-root {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body .MuiPickersDay-current {
  border: 2px solid #3f51b5;
}

.date-picker .MuiInputBase-input {
  text-align: center;
}

.delivery-card {
  width: 100%;
}

@media (min-width: 576px) {
  .delivery-card {
    min-width: 556px;
  }
}

.delivery-card .MuiFormControl-root {
  display: flex;
}

.delivery-card .MuiInputBase-input {
  line-height: 1.5;
}

.delivery-card .MuiFormControl-root {
  margin: 0 0 0.2em 0;
}

.delivery-card .MuiFilledInput-root {
  background-color: #EEE;
}

legend.MuiFormLabel-root {
  font-size: small;
}

.deleteBtn {
  width: 1.5em;
  height: 1.5em;
}

.courierTgInuput {
  min-width: 5em;
}

.MuiIconButton-root .MuiIconButton-label>i:only-child {
  width: 1.1em;
  height: 1.1em;
  display: inline-block;
}

.receipt ol {
  margin-bottom: 0;
  list-style: none;
  padding-inline-start: 0;
  line-height: 2em;
}

a.myDelivery {
  border: 2px solid #ffc;
  background: #ffc;
}

#IndexView .MuiFormLabel-root.Mui-disabled {
  color: inherit;
}

#IndexView .MuiInputBase-root.Mui-disabled {
  color: inherit;
}

.poppins {
  font-family: 'Poppins';
}

.bg-bowl {
  background: url(../images/ssp-bg-dot.png);
  background-repeat: repeat-x;
  background-position: bottom;
}

.bg-curve {
  background: url(../images/bg-curve.svg);
  background-size: 5%;
  background-position: center;
  background-repeat: repeat no-repeat;
}

.align-center-hover {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  opacity: 0;
  transition-duration: 100ms;
}

.menu:hover .align-center-hover {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.menu:hover .btn-menu::before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAALklEQVQYVxXLwQ0AIAyAQNjPbXW+Yvo9gtNcAhTruGCuHeE501VO9DbYtMPLEPj28RwMvKvlJAAAAABJRU5ErkJggg==) repeat;
  position: absolute;
  transition-duration: 50ms;
  z-index: 1;
}

.highlight {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAPElEQVQYVyWL0QnAIBTELth56iKv04qDaMfRckW9j0AIB1o7HG8YwdbRw9ddAKTZHqdcYPWvh1OuSN7XHwFBESW6niP2AAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: 0px calc(1em - 2px);
}

.squircle {
  -webkit-mask-image: url(../images/squircle.svg);
  -webkit-mask-size: cover;
  mask-image: url(../images/squircle.svg);
  mask-size: cover;
  z-index: 0;
}

.btn-menu p {
  z-index: 2;
}

.bg-body {
  background: #f7f2ec;
}

/*http://www.patternify.com*/
/*bg-pt2-pattern:6x6,(1,1),(2,2),(4,5),(5,4) */

.bg-pt2-red-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAASElEQVQYV1WNwQ3AMAgDjxGyE30ybZ4lKzUjUAUpKb2fZZ8sU7W34UYIEGxWYl7a2+32VYL8d0eohSAET9oj7UP+uRusUaF+vOaLFwsXGPB0AAAAAElFTkSuQmCC) repeat;
}

.bg-pt2-green-400 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAATUlEQVQYV2M0vTxj82m9DF+G/4wMDAz/GSCAkQHEYzC9BJLM9AVLgOWhElBlEDGYDmQDwLpBRutm+oKNgmk3vTx982ndDF+4HTAJZDsARvYaDX23mycAAAAASUVORK5CYII=) repeat;
}

.bg-pt2-pink-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAS0lEQVQYV2NkAAFGBgaG/4wMjAz/QRSUDZZhYHjjOWOzyPYMXygXrJbhjceMzSI7MnyhiiE6wByYMrixENPhdoCUwHUj64CxQfYBAFFuGolx5VqAAAAAAElFTkSuQmCC) repeat;
}

.bg-pt2-yellow-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAARklEQVQYV2WNQQ6AMBACh6vrJ43/qp90vWJstzFGbgQGdLbwuqewADMkHkce4dguCVdUwWx1osBOTPOh32WRbXHU34+od26vTxoLpWKbTAAAAABJRU5ErkJggg==) repeat;
}

.bg-pt2-green-600 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAATElEQVQYV1WNyxHAIAhEl4NJdRSC6Ufsg+r0okMkk4Hb/h50NbFZlQECsHCOQC6Lik3pnIKonBbWv8kAoAT6RX3ku4mNR9kN9/PfYG+yoRgJauwbWAAAAABJRU5ErkJggg==) repeat;
}

.bg-pt2-blue-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAT0lEQVQYV2O0avq2+Vg9ly/Df0YGRob/IIoBjKyavm4+VsflC+Yy/AeTYADhIthwEeumb5uP1nP5grWDzLJs/rb5WC23L4gNEmEAm46kGQAW3BoLM9K3+AAAAABJRU5ErkJggg==) repeat;
}

.bg-pt2-indigo-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAAXNSR0IArs4c6QAAAFBJREFUGFdjTE7/uHnuLH5fhv8MEMDIwMDwnxFMMSSlfdw8DyQJl4DII6n6D1LMANLNCKWh5jAwJKV/3DxvJr8vkgQjQ3L6B7h9EKOQAdQIANeeGwiJNGacAAAAAElFTkSuQmCC) repeat;
}


.bg-slash-red-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAICAYAAADeM14FAAAAWklEQVQYVyWNwRHDQAgDpRLslHTck2p5hmsJl6CMHH7ssAsJDyECT0SRJCBg9qqrO18wK+o+nZJAn13nJKW/bMMBN2atepuGE7tuNwye7eWbEsHZUZ/u9CdrP1NmKWV76bjiAAAAAElFTkSuQmCC) repeat;
}

.bg-slash-green-400 {
  /* #35d398 0.7 */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAAChJREFUGFdjZEADppdnbGZEFgMJnNbN8IULwgRAisCCyAJgQXQBkCAAb20SWY1ld2cAAAAASUVORK5CYII=) repeat;
}

.bg-slash-pink-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAPklEQVQYVy2KWxGAMAwE90QAloKTyjgZQQkgiVZEGDp87kMSUKIoehwWiE/2SK9X8xyeSG9384xjTy/nD8ALZJwRWPQwDS8AAAAASUVORK5CYII=) repeat;
}

.bg-slash-yellow-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAOElEQVQYVx2JsQ0AIAzD4pnyJfzRP+DLwlxUrCyOQShJFXebl9cUu7uNUwe6y7zN+JXzSzigVOoBKWkSKa/yK+oAAAAASUVORK5CYII=) repeat;
}

.bg-pt-red-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAASElEQVQYV1WNwQ3AMAgDjxGyE30ybZ4lKzUjUAUpKb2fZZ8sU7W34UYIEGxWYl7a2+32VYL8d0eohSAET9oj7UP+uRusUaF+vOaLFwsXGPB0AAAAAElFTkSuQmCC) repeat;
}

.bg-pt-pink-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAS0lEQVQYV2NkAAFGBgaG/4wMjAz/QRSUDZZhYHjjOWOzyPYMXygXrJbhjceMzSI7MnyhiiE6wByYMrixENPhdoCUwHUj64CxQfYBAFFuGolx5VqAAAAAAElFTkSuQmCC) repeat;
}

.bg-pt-amber-600 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAAXNSR0IArs4c6QAAACZJREFUGFdjvFnO9l+98xcjAxoAC2CTxFAJ04ghAdONIoFsJE6jAIA+EAcWbY4HAAAAAElFTkSuQmCC) repeat;
}

.bg-pt-yellow-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAARklEQVQYV2WNQQ6AMBACh6vrJ43/qp90vWJstzFGbgQGdLbwuqewADMkHkce4dguCVdUwWx1osBOTPOh32WRbXHU34+od26vTxoLpWKbTAAAAABJRU5ErkJggg==) repeat;
}

.bg-pt-green-600 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAATElEQVQYV1WNyxHAIAhEl4NJdRSC6Ufsg+r0okMkk4Hb/h50NbFZlQECsHCOQC6Lik3pnIKonBbWv8kAoAT6RX3ku4mNR9kN9/PfYG+yoRgJauwbWAAAAABJRU5ErkJggg==) repeat;
}

.bg-pt-green-400 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAATUlEQVQYV2M0vTxj82m9DF+G/4wMDAz/GSCAkQHEYzC9BJLM9AVLgOWhElBlEDGYDmQDwLpBRutm+oKNgmk3vTx982ndDF+4HTAJZDsARvYaDX23mycAAAAASUVORK5CYII=) repeat;
}

.bg-pt-blue-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAT0lEQVQYV2O0avq2+Vg9ly/Df0YGRob/IIoBjKyavm4+VsflC+Yy/AeTYADhIthwEeumb5uP1nP5grWDzLJs/rb5WC23L4gNEmEAm46kGQAW3BoLM9K3+AAAAABJRU5ErkJggg==) repeat;
}

.bg-pt-indigo-500 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAAXNSR0IArs4c6QAAAFBJREFUGFdjTE7/uHnuLH5fhv8MEMDIwMDwnxFMMSSlfdw8DyQJl4DII6n6D1LMANLNCKWh5jAwJKV/3DxvJr8vkgQjQ3L6B7h9EKOQAdQIANeeGwiJNGacAAAAAElFTkSuQmCC) repeat;
}

.bg-slash-black-20{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAAC1JREFUGFcti8EJAEAMwpJlO1SX9bCcHyFRRZq0klE/IAOsFNTgdqw4kAXv9gCaOwxx4FZGhgAAAABJRU5ErkJggg==) repeat;
}

#map {
  display: none;
}

@media (min-width: 768px) {
#map {
  display: block;
  height: calc(100vh - 73px);
  width: 100%;
}

.container-rest {
    height: calc(100vh - 73px);
  }
}

.index-sticky-nav a {
  box-shadow: none;
  color: inherit;
}

.index-sticky-nav a.active span {
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.index-sticky-nav a.active span::before {
  content: " ";
  position: absolute;
  z-index:-1;
  left:-0.5em;
  top:0.8em;
  display: block;
  width: 120%;
  height: 0.8rem;
  background-image: linear-gradient(45deg, #fbbd25,#ee4642,#dc700f);
  border-radius: 3px;
}

.bg-border-black {
  background: linear-gradient(0deg, transparent 0%, transparent 40%, black 40%, black 50%, transparent 50%);
}

.bg-border-gray {
  background: linear-gradient(0deg, transparent 0%, transparent 40%, #a8a29e 40%, #a8a29e 50%, transparent 50%);
}

.cup {
  animation: cupAnimation 1000ms ease forwards;
}

.cup2 {
  opacity: 0;
  animation-delay: 3000ms;
  animation: cupAnimation 1500ms ease forwards;
}

.cup3 {
  opacity: 0;
  animation-delay: 5000ms;
  animation: cupAnimation 1800ms ease forwards;
}

@keyframes cupAnimation{
  0%{
    opacity:0;
    transform: translate(0, -50px);
  }
  100%{
    opacity:1;
    transform: translate(0, 0px);
    }
}

.bg-coffee {
  background: #e4dccf;
}

.bg-coffee-banner {
  background-image: url(../images/food-waste-recycle/coffee-bg4.png);
  background-size: contain;
}
@media (min-width: 768px) {
  .bg-coffee-banner {
    background-image: url(../images/food-waste-recycle/coffee-bg4.png);
    background-size: auto;
  }
}

.bg-aulaw {
  background-image: url(../images/food-waste-recycle/au-law-farm.jpg);
}

.text-shadow {
  text-shadow: 0 0 2px black;
}

.bg-vege {
  background-image: url(../images/bg-vege.jpg);
}

.bg-bowl-yellow {
  background-image: url(../images/bowl-yellow.jpg);
}

.navicon {
  width: 2rem;
  height: 1.5rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.navicon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgba(30,30,30,0.9);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.navicon span:nth-child(1) {
  top: 0px;
}

.navicon span:nth-child(2) {
  top: 8px;
}

.navicon span:nth-child(3) {
  top: 16px;
  left: 1rem;
  width: 50%;
}

.navicon.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.navicon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.navicon.open span:nth-child(3) {
  top: 8px;
  left: 0;
  width: 100%;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


#mmenu.open {
  display: block;
  transform-origin: top;
  animation-name: scaleY;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 150ms;
}

@keyframes scaleY {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

#section-earth {
  background-image:url(../images/food-waste-recycle/bg-sand.png);
  background-repeat-x: revert;
  background-repeat-y: no-repeat;
}

#earth-circle {
    border-radius: 50%;
    position: absolute;
    background-image:url(../images/food-waste-recycle/bg-earth2.png);
    transform-origin: center center;
    transform: translateX(-50%) translateY(-50%);
    top:50%;
    left: 50%;
}

.bg-border-white {
  background-image: linear-gradient(180deg,transparent 46%, white 46%, white 54%, transparent 54%);
}

.bg-border-gray700 {
  background-image: linear-gradient(180deg,transparent 46%, rgba(55, 65, 81, 0.75) 46%, rgba(55, 65, 81, 0.75) 54%, transparent 54%);
}

.bg-gray-radial {
  background-image: url(../images/food-waste-recycle/bg-grain.png),radial-gradient(at top left, #9ca3af 0%, #d1d5db 30%);
}

.bg-earth {
  background-image:url(../images/food-waste-recycle/bg-earth2.png);
}

#farmer {
  position: block;
  margin: -45px auto 0 auto;
  z-index: 10;
}

@media (min-width: 768px) {
#farmer {
    position: absolute;
    transform-origin: center center;
    transform: translateX(-50%);
    bottom:0;
    left: 50%;
    z-index: 10;
}
}
#bowl {
  animation: bowlAnimation 15000ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes bowlAnimation{
0%{
  opacity: 0;
  transform: translateX(-150px);
}
3%{
  opacity: 1;
  transform: translateX(-140px);
}
97%{
  opacity: 1;
  transform: translateX(1490px);
}
100%{
  opacity: 0;
  transform: translateX(1500px);
  }
}

.bg-vege {
background-image: url(../images/food-waste-recycle/bg-grain.png), url(../images/food-waste-recycle/farmer-hand.jpg);
background-position: center;
}